
.contanier{
    width: 1415px;
    height: 560px;
    background-color: rgb(71, 223, 213);
    border-radius: 10px;
    padding: 30px;
    border: 7px solid rgb(122, 229, 28);
   
   
    
}
#contanier, p{
    display: inline-block;
    width: 350px;
    vertical-align: top;

 
}

section{
    height: 100px;
    width: 100px;
    border: 50px;
}
h2{
    text-align:center;
   
}
p{
    text-align: center;
  text-align:justify;
     width: 300px  !important ;
     padding: 0px 20px;
}
img{
    padding: 20px;
}
h1{
    color: green;
}
